@media (orientation : portrait) {
    .container {
        height: 270px;
        width: 400px;
        background-color: rgb(142, 217, 223);
        padding: 10px;
    }

    .form {
        margin: 15px;
        padding: 10px;
        background-color: azure;
        height: 220px;
        width: 350px;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .header {
        margin-left: 20px;
    }

    input {
        background-color: rgb(142, 217, 223);
        width: 300px;
        padding: 5px;
    }

    button {
        color: aliceblue;
        background-color: blue;
        width: 300px;
        height: 40px;
        border: none;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mt {
        margin-top: 20px;
    }
}


@media (orientation : landscape) {
    .container {
        height: 270px;
        width: 400px;
        background-color: rgb(86, 228, 81);
        padding: 10px;
    }

    .form {
        margin: 15px;
        padding: 10px;
        background-color: rgb(146, 180, 23);
        height: 220px;
        width: 350px;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .header {
        margin-left: 20px;
    }

    input {
        background-color: rgb(142, 217, 223);
        width: 300px;
        padding: 5px;
    }

    button {
        color: aliceblue;
        background-color: blue;
        width: 300px;
        height: 40px;
        border: none;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mt {
        margin-top: 20px;
    }
}