.outer{
    background-color: rgb(185, 144, 218);
    margin: auto;
    width: 40%;
    
}

.header{
    background-color: aqua;
    margin: 15px;
    margin-bottom: 0%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}

.button{
    background-color: aqua;
    margin: 0 15px 15px 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-color{
    color: rgb(10, 132, 180);
}

form{
    background-color: aliceblue;
    
    margin-top: 0%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}


.ml{
    margin-left: 50px;
}

.inc-width{
    width: 460px;
}

.mt{
    margin-top: 20px;
}

.width{
    width: 200px;
}