.container{
    height:570px;
    background-color: blue;
    width:50%;
    margin: auto;
    width: 470px;
    padding: 20px;
}

.inner-container{
    background-color: azure;
    padding: 20px;
    height: 530px;
}

.header{
    background-color: aquamarine;
    margin-top:-70px;
    margin-left: -20px;
    margin-right: -20px;
    height: 80px;
    font-size: 50px;
    text-align: center;
}